.groups-users
    font-size 14px
    color black

    &__title
        padding-left 20px

    &__list
        padding-left 0
        list-style none
        text-align right
        width 452px
        border 1px solid #EEEEEE

    &__item
        padding 25px 22px 25px 22px

        &:not(:last-child)
            border-bottom 1px solid #EEEEEE

    &__text
        float left
        line-height 31px

    &__count
        {ibm}
        width 38px
        text-align center
        font-size 12px
        line-height 31px
        background-color #E0E0E0
        border-radius 3px
        margin-right 15px

    &__btn
        font-size 12px
        height 31px
        border none
        background none
        background-color #CCCCCC
        color white
        border-radius 3px
        font-family Roboto
        padding-left 10px
        padding-right 10px

        &.active
            background-color #6FCF97
            cursor pointer

