.nav-left
    background-color #171717

    &__logo
        background-color #004180
        margin-bottom 35px

        h1
            margin-top 0
            margin-bottom 0
            line-height 80px
            text-transform uppercase
