.settings-statistic
    &__title
        text-align center
        margin-bottom 28px

        h3
            margin-top 0
            margin-bottom 0
            font-size 24px
            color black
            font-weight 400

    &__items-wrap
        padding-left 60px
        padding-right 60px

    &__item
        {ibm}
        width 30%
        border 3px solid #CCCCCC
        border-radius 3px
        text-align center
        padding-top 58px
        padding-bottom 58px

        &:not(:last-child)
            margin-right 5%

    &__count
        display block
        font-size 36px
        color black

    &__text
        margin-left auto
        margin-right auto
        display block
        font-size 14px
        text-transform uppercase
        text-align center
        border-radius 25px
        background-color #2D9CDB
        width 117px
        line-height 36px
