.statictic-block
    &__form
        {ibm}
        line-height 80px

    &__table
        margin-top 30px
        width 100%
        font-size 14px
        border-collapse collapse

        thead
            color black
            text-transform uppercase
            font-size 10px

            td
                padding-top 5px
                padding-bottom 5px

        tbody
            color black

            td
                padding-top 17px
                padding-bottom 17px

                &:not(:first-child)
                    color rgba(0, 0, 0, 0.5)
                    font-size 18px

        tr
            border-bottom 1px solid #eee

        td:first-child
            padding-left 30px
