.statictic-form
    font-size 14px
    color black

    &__period
        {ibm}
        margin-right 15px

        input
            border 1px solid #EEEEEE
            padding-left 10px
            color rgba(0, 0, 0, 0.7)

    &__btn
        {ibm}

        input
            background-color #56CCF2
            color white
            padding-left 15px
            padding-right 15px
            border none

    input
        font-family Roboto
        height 40px
        border-radius 5px
        cursor pointer
